@import "./node_modules/bootstrap/scss/bootstrap.scss";

// variable scope => 1. global (root) / 2. local

// :root{
//     --orange:rgb(255, 106, 0);
//     --blue:rgb(43, 43, 212);
// }
//     h2{
//         border-bottom: 2px solid var(--orange);
//     }

// .box{
//     color: var(--blue);
// }

// button{
//     --button-color: green;
//     background-color: var(--button-color);
//     border: 1px solid var(--button-color);
// }


// 1. var(--name: fallback)


// .box{
//     background-color: var(--a, #ccc);
//     padding: 10px;
//     margin: 10px;
// }

// .special {
//     --a: #f90;
// }

// 2. Sass
$bg-color: #0e7490;
$myFontSize: 18px;
$myWidth: 400px;
$size: 1em;
$color: #fb7185;

body {
    background-color: $bg-color;
    font-size: $myFontSize;
    color: $color;
}

#container {
    margin: $size * 3;
    width: $myWidth;
}

// 3. SASS variable scope

p {
    $color: black !global;
    color: $color;
}

span{
    color: $color;
}

// 4.1 Nested Rules

.myClass {
    display: flex;
    justify-content: space-between;

    li{
        list-style: none;
        background-color: #22d3ee;
    }

    &:hover li{
        background-color: black;
    }
}

.nested{
    background-color: #10b981;
    p{
        color: white;
    }
}

// 4.2 Nested Rules

nav{
    ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        text-decoration: none;
    }
}

// Nested Properties

.example-1{
    font-size: 1rem;
    transition:{
        property:font-size;
        duration:1s;
        delay:2s;
    }
    &:hover{
        font-size: 2rem;
    }
}
$colors:(
    main:red,
    second:yellowgreen,
);

$border-default: 10px solid map-get($colors, second);

.lastClass{
    border-bottom: $border-default;
}